<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="app.js"></script>
<body>
<div class="global-wrapper" ng-app="myApp">
	<!-- nav section -->
	<nav class="navbar navbar-default" ng-controller="navCtrl">
		<div class="container-fluid">
			<div class="nav-header">
				<a href="#" class="navbar-brand hidden-xs">Angular Exercise</a>
				<ul class="nav navbar-nav">
					<li ng-repeat="navLink in nav.navItems" ng-class="{active : $index === nav.selectedIndex}">
						<a class="text-center" ng-click="nav.navClick($index)" ng-href="#/{{navLink}}">{{navLink}}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row panel panel-primary" ng-controller="homeCtrl">
			<div class="panel-heading">
				<h2 class="panel-title">angular contact list app</h2>
			</div>
			<!--     contact list   	 -->
			<div class="col-xs-5 panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<h4>Contacts:</h4>
						<input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
							<contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></contact>
						</li>
					</ul>
				</div>
				<!--   ng-view below       -->
				<div class="col-xs-7">
					<div class="list-group panel-body">
						<div ng-view></div>
					</div>
				</div>
			</div>
		</div>
		<!--  html templates used by angular, usually in separate files -->
		<script type="text/ng-template" id="default.html">
			<div class="alert alert-success text-center" ng-class="{hidden : !removed}"> {{removed}}</div>
			<div class="list-group-item text-center">Please select a contact to view</div>
		</script>
		<!-- 	template for displaying a contacts info	 -->
		<script type="text/ng-template" id="contact_info.html">
			<div class="list-group-item">
				<h3 class="text-center">{{currentContact.name}}</h3>
				<p>email: 
					<a ng-href="{{currentContact.email}}">{{currentContact.email}}</a>
				</p>
				<p>phone: {{currentContact.phone}}</p>
				<p>url: 
					<a ng-href="{{currentContact.url}}">{{currentContact.url}}</a>
				</p>
				<p>Notes:</p>
				<p class="well well-lg">{{currentContact.notes}}</p>
				<a ng-href="#/edit/{{contacts.indexOf(currentContact)}}">
					<button class="btn btn-default">
						<span class="glyphicon glyphicon-pencil"></span>
						<span> - Edit</span>
					</button>
				</a>
				<a href="#/">
					<button class="btn btn-default" ng-click="removeContact(currentContact)">
						<span class="glyphicon glyphicon-remove"></span>
						<span> - Remove</span>
					</button>
				</a>
			</div>
		</script>
		<!--   template used for both adding a new contact and editing an existing contact   -->
		<script type="text/ng-template" id="contact_form.html">
			<div ng-controller="addContactCtrl">
				<div class="list-group-item">
					<div class="form-group">
						<p>
							<label for="name">name: </label>
							<input id="name" class="form-control" type="text" ng-model="currentContact.name">
							</p>
							<p>
								<label for="email">email:</label>
								<input id="email" class="form-control" type="text" ng-model="currentContact.email">
								</p>
								<p>
									<label for="phone">phone:</label>
									<input id="phone" class="form-control" type="text" ng-model="currentContact.phone">
									</p>
									<p>
										<label for="url">url:</label>
										<input id="url" class="form-control" type="text" ng-model="currentContact.url">
										</p>
										<p>
											<label for="notes">notes:</label>
										</p>
										<textarea class="form-control" id="notes" rows="3" ng-model="currentContact.notes"></textarea>
									</div>
									<a ng-if="path === '/add' " ng-href="#/contact-info/{{ contacts.length - 1 }}" ng-click="addContact()">
										<button class="btn btn-default">
											<span class="glyphicon glyphicon-ok"></span>
											<span> Add</span>
										</button>
									</a>
									<a ng-if="path !== '/add'" ng-href="#/contact-info/{{index}}">
										<button class="btn btn-default">
											<span class="glyphicon glyphicon-ok"></span>
											<span> Save Edits</span>
										</button>
									</a>
									<a href="#/">
										<button class="btn btn-default">
											<span class="glyphicon glyphicon-remove"></span>
											<span>  Cancel</span>
										</button>
									</a>
								</div>
							</div>
						</script>
						<!--      template used for the ng-repeat in the contact list        -->
						<script type="text/ng-template" id="contact.html">
							<a ng-href="#/contact-info/{{contacts.indexOf(contact)}}">
        {{contact.name}}
      </a>
						</script>
					</div>
    
</body>
</html>